.spotItem {
    /* flex-basis: 25%; */
    width: 235px;
    padding: 6px;

}
.spotIndexImg {
    width: 235px;
    height: 200px;

}

.spotImg:hover::after{

    content: attr(img-tooltip);
    position: absolute;

    transform: translateX(-110%) translateY(50%);

    background-color: black;
    color: white;
    padding: 5px;
    border: solid;
    border-radius: 5px;
    border-color: black;
    min-width: auto;
    /* text-align:center; */

    /* font-size: 100px; */
    /* visibility: hidden; */
    /* position:fixed */
}

.cityStateRating {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

Link {
    text-decoration: none;
}

.update-spot-button{
    background-color: #999999;
}
