.spotDetails {
    align-self: center;
    margin-left: 40px;
    margin-right: 40px
}
.spotByIdImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    /* width:1000px; */
    grid-gap: 5px;
    /* width: 840px; */
    /* margin-left: 80px; */

}

.spotByIdLarge {
    height:500px
    /* width:440px;
    height: 413px;
    padding: 5px;
    justify-self: center; */

}
.singleSpotByIdSmall {
    height:247.5px
    /* width:230px;
    height: 200px;
    padding:5px */
    /* justify-self: center; */
    /* align-self: stretch; */

}
.spotByIdSmall {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
    /* grid-template-rows: 1fr 1fr; */
/*
    width: 800px;
    height:400px; */
    /* min-height: 0;
    min-width:0; */
    /* line-height: 0; */
}
img{
    max-width:100%;
    /* max-height:max-content; */
    /* height:fit-content */
}
.mid-section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: solid;
    border-width: 1px;
    gap: 20px

}
.pricing-reservation{
    border:solid;
    border-width:1px;
    border-radius: 10px;
    /* height:100px; */
    min-width:400px;
    /* text-align: center; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    box-shadow: 2px 2px 5px #778899;




}
.price-rating {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    /* gap: 5px; */
    width:80%;
    align-items: flex-end;

}
.reserve {
    width: 50%;

}
.rating-count {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%
}

.individual-review p {
    overflow-wrap: break-word;
}

.price-night {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    margin:0px;
    /* gap: 5px; */
    width:30%;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;

}
.price-night h3,
.price-night h2{
    margin: 0px
}
.rating-count-second {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.individual-review h3,
.individual-review h4,
.individual-review p {
    margin:5px;

}

.individual-review {
    padding: 10px
}

.individual-review h4 {
    color: darkgrey
}

.post-review-button {
    /* background-color: darkgray; */
}

.pricing-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
