/* TODO Add site wide styles */
h1 {
    font-size: 24pt;
    font-weight: bold;
}
h2 {
    font-size: 18pt;
    font-weight: bold;
}

* {
    font-family: 'Roboto', sans-serif;
}

.default-button, .post-review-button, .reserve {
    font-size:medium;
    cursor:pointer;
    background-color: #FF5A5F;
    border-color: #000000;
    color: #FFFFFF;

}

/* .modal {
    display: grid;
    grid-template-columns: 1fr;

} */
.modal form {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    width:80%;
    grid-gap: 10px;

}
.modal{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    /* justify-self: center; */
    /* width:80% */
    margin: 20px
    /* justify-content: center; */

}

.modal form textarea,
.modal form input {
    background-color:#E8F0FE;
}
img{
    border-radius: 10px;
}

button:disabled {
    background-color: #999999;
}
